<header class="mt-3 mb-5 text-center row m-auto">
  <h1 class="col-12 col-md-8">Blog Web Application</h1>
  <div class="col-12 col-md-4">
    <a class="btn btn-custom-reverted" href="/">Home</a>
    <a class="btn btn-custom-reverted" href="/about">About</a>
    <button
      id="scroll-to-bottom"
      class="btn btn-custom px-3 py-2 rounded-circle btn-sm ms-2"
    >
      ↓
    </button>
  </div>
</header>
